@color-bar-height:30px;
@svg-width:200px;
@svg-height:@svg-width;
@assetsPath:'../assets';

@image-color-width:30px;
@image-color-width-margin:3px;
@image-color-height: @image-color-width;
@image-color-height-margin:@image-color-width-margin;

@color-list-width:20px;
@color-list-height: @color-list-width;
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.result-block {
  margin: 0 3px 0 3px;
}

.svg {
  width:@svg-width;
  height:@svg-height;
}

dl.color-list dt {
  width:@color-list-width;
  height:@color-list-height;
  background-color: #ffaacc;
}

dl.color-list dd {
  margin-left:@color-list-width;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.color-compare {
  height:@color-bar-height;
}


#base_color_selector {
  width:@image-color-width + @image-color-width-margin * 2;
  height:@image-color-height + @image-color-height-margin * 2;
  background: url('@{assetsPath}/images/select.png') center;
}

#base_color_selector .image-color {
  position: absolute;
  margin-top: @image-color-height-margin;
  margin-left: @image-color-width-margin;
  width: @image-color-width;
  height: @image-color-height;
  background: url('@{assetsPath}/images/select.png') center;
  background-color: #4b8bf5;
}