@color-bar-height:30px;
@svg-size:250px;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.result-block {
  margin: 0 3px 0 3px;
}

.svg {
  width:@svg-size;
  height:@svg-size;
}

.align-center {
  text-align: right;
}

.color-compare {
  height:@color-bar-height;
}